<html>
<head>
  <title>Delete <%= article.name %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Are you sure you want to delete "<%= article.name %>"?</h1>
  <form action="/article/<%= article.code_name %>/delete" method="POST">
    <button type="submit">Yes, Delete</button>
  </form>
  <a href="/article/<%= article.code_name %>">Cancel</a>
</body>
</html>